/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@font-face { font-family: universal-black;
  src: url('../fonts/UniversBlack.ttf');
}

@font-face { font-family: universal-light-normal;
  src: url('../fonts/Univers-light-normal.ttf') format('ttf'),
       url('../fonts/Univers-light-normal.woff') format('woff');
}

@font-face { font-family: universal-LTStd;
  src: url('../fonts/UniversLTStd.otf');
}

@font-face { font-family: universal-bold;
  src: url('../fonts/UniversLTStd-Bold.otf');
}


header{
  position: absolute;
  z-index: 2;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top:30px;
}

nav div a > img{
  height: auto;
  width: auto;
}

header nav {
  height: 20vh;
}

.nav-item a{
  color: white;
  /* font-size: 2rem; */
}
body {
  color: #6a6a6a;
  overflow-x: hidden;
  
}
*{
  scroll-behavior: smooth;
  font-family:'universal-light-normal', sans-serif, monospace;
  font-size: 1.3rem;
}

.bg-principal{
  background-color: #00A2E8;
}

.color-principal{
  color:#00A2E8;
}

.navbar-collapse{
  flex-grow: 0;
}

footer{
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  color: white;
}

.nav-footer{
  display:inherit;
  flex-direction: inherit;

}

.i-social{
  height: auto;
  width: 40px;
  color: white;
  margin-right: 15px;
}

#navbarCollapseFooter{
  margin-left: -4%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-caption p {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.4;
}

.r-text-5{
  left: 5% !important;
  /* right: unset; */
}
/* Declare heights because of positioning of img element */
.carousel-item-obra {
  height: 25rem;
}

.carousel-item {
  height: 100vh;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

/* transition duration to control the speed of fade effect */
.carousel-item {
  transition: transform 1.6s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 1.6s;
}

.carousel-control-next, .carousel-control-prev{
  width: 5%;
}

/*WHATSAPP MARGIN BOTTOM 90px*/

.i-whatsapp img{
  height: auto;
  width: 60px;
  color: white;
}

.i-whatsapp-container{
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  cursor: pointer;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
/* .marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
} */
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

.container.marketing {
  max-width: 80% !important;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/** ELSE ***/
.bg-grey{
  background: #EBEBEB;
}

/* WHATSAPP CLASS FOT GET BUTTON*/
.gCdMUP{
  visibility: hidden;
}

.div[id^="gb-widget"]{
  /* transition: all 0.5s ease-in-out !important; */
  
  z-index: 1 !important;
}


/*************** Caja informacion de ubicacion  ******************/
.gmaps-container{
  width: 100%;
  min-height: 300px;
  height: 100%;
}

.gmaps-container a > img{
  width: 100vh;
  max-height: 40vh;
  object-fit: cover;
}

.contacto-container{
  width: 40%;
  min-height: 40%;
  padding: 25px;
  color:white;
  z-index: 2;
  right: -40%;
  top: 0;
  transition: all 0.5s ease-out;
  position: fixed;
}
.contacto-container p {
  font-size: 1rem;
}

.contacto-container p svg{
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.contacto-container h3{
  margin-bottom: 30px;
}

.i-location{  
  top: 10%;
  left: 0;
  padding: 10px;
  transform: translate(-45px);
  border-radius: 15px 0px 0px 15px;
  cursor: pointer;
  font-size: 0px !important;
}

.i-location svg{
  width: 25px;
  height: auto;  
}

.i-location svg path:nth-child(2n){
  color: white;
  transition: all 0.5s ease-out;
}

.i-location svg:hover path:nth-child(2n){
  color: red;
}

/*********************************/

.intro-box{
  min-height: 100px;
  padding: 50px;
}

.mh-inh{
  min-height: inherit;
}

.text-green{
  color:#2CDC33;
}

.m-revert{
  margin: revert;
}

.i-top-container{
  position:fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  color: white;
  cursor: pointer;
}

#btn-to-top{
  display: none;
}

.i-top{
  width: 40px;
  height: auto;
  border-radius: 6px 6px 6px 6px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 1400px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    font-size: 1.5rem;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (max-width:1500px){
  .nav-item a{
    font-size: 0.7rem;
  }
}


