.carousel {
  margin-bottom: 0rem !important;
}



.featurette-divider{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.i-data{
  /* width: 60px; */
  width: 25%;
  height: auto;
  float: left;
  color:#00A2E8;
  margin-right: 10px;
}

.icon-tarjeta{
  width:15vh;
}

.data-number{
  font-weight: 500;
}

.img-fluid{
  width: 100%;
  height: auto;
}

@-moz-document url-prefix() {
  .svg-list .tarjeta svg{
    height: auto;
    width: 20vh;
  }
}

.svg-list .tarjeta svg{
  height: auto;
  width: 10vh;
  color: #00A2E8;
}

.tarjeta{
  margin: 2rem;
  text-align: center;
  cursor: pointer;
}

.tarjeta h4{
  margin-top: 2rem;
}

.modal.fade .modal-dialog{
  transform: unset;
  transition: ease-in-out 0.3s;
}

#modal_valores_info{
  margin: auto;
  vertical-align: middle;
}

#modal_valores_icon{
  color: #00A2E8;
}

.modal{
  transition: ease-in-out 0.3s;
}

.modal-header{
  border-bottom: 0px;
}
.tarjeta-modal {
  text-align: center;
}

.tarjeta-modal svg{
  width: 13vh;
  height: auto;
  margin-bottom: 2rem;
}

.tarjeta h4{
  width: 15rem;
  word-wrap: break-word!important;
  word-break: break-word!important;
}

#carouselExampleDark .carousel-inner{
  height: 70vh;
}

.carousel-item-obra{
  height: 100% ;
}

@media (max-width:1700px) {
  .tarjeta{
    margin: 0 0 15px 0 ;
    width: 50%;
  }

  .tarjeta h4{
    width: 15rem;
    font-size: medium;
    word-wrap: break-word!important;
    word-break: break-word!important;
  }
}